<app-top-bar></app-top-bar>
<div class="container-sm">
  <router-outlet></router-outlet>
  <div class="row top-buffer">
    <app-bar-chart></app-bar-chart>
  </div>
  <div class="row top-buffer">
      <app-line-chart></app-line-chart>
  </div>
  <div class="row top-buffer">
    <app-doughnut-chart></app-doughnut-chart>
  </div>
  <div class="row top-buffer">
    <app-pie-chart></app-pie-chart>
  </div>

<!--  <div class="row">
    <div class="col-sm-6">
      <app-radar-chart></app-radar-chart>
    </div>
    <div class="col-sm-6">
      <app-bubble-chart></app-bubble-chart>
    </div>
  </div>-->
</div>
