<div class="row">
  <mat-toolbar color="primary">
    <h1>USCIS Case Statistical Analysis</h1>
  </mat-toolbar>
</div>
<div class="row">
  <p>
    This is an open source project. Please SUPPORT while waiting the updates from USCIS. Data crawled from <a href="https://egov.uscis.gov/casestatus/landing.do">https://egov.uscis.gov/casestatus/landing.do</a><br/>
    <a href="https://github.com/wangxin501/uscis-case-status-analyzer">https://github.com/wangxin501/uscis-case-status-analyzer</a>
  </p>
</div>